<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Product Manager at
      <a class="underline-link" href="https://www.bitcoin.com/" target="_blank">Bitcoin.com</a> building the next-gen debit card. It's fast, it's ubiquitously accepted worldwide and it's crypto backed.
    </p>

    <p>
      As a Product Manager my strengths encompass defining product vision, interfacing with clients, internal executives and my engineering team to bring the product vision to life.
      I partner with my team as a creative, strategic thinker to innovate and execute based on priorities and data. 
      I also thrive on maneuvering through project and political challenges, and most importantly, envisioning experiences that delight users. Firm practitioner of the 
      <a class="underline-link" href="https://sive.rs/hellyeah" target="_blank">hell yeah or no</a> philosophy.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably in front of my mobile screen, trading or learning Mandarin.
      Offline, I like spending my time in the kitchen cooking something adventurous or sipping something boozy on a beach.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
