<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project buybitcoin">
      <figure class="project__pic">
        <a href="https://buy.bitcoin.com/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/buybitcoin/buybitcoin.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://buy.bitcoin.com" target="_blank">Bitcoin.com Buy</a>
        </div>
        <p>Human-friendly cryptocurrency on-ramp tool for our next billion users, allowing them to buy various cryptocurrencies using a credit/debit card.</p>
      </figcaption>
    </div>
    
    <div class="project local">
      <figure class="project__pic">
        <a href="https://local.bitcoin.com" target="_blank">
          <img src="{{site.baseurl}}/img/featured/local/local.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://local.bitcoin.com" target="_blank">Bitcoin.com Local</a>
        </div>
        <p>Bitcoin.com Local is a private peer-to-peer platform where you can find others who are interested in trading BCH for local currencies via a blind escrow smart contract.</p>
      </figcaption>
    </div>
    
    <div class="project nisekopay">
      <figure class="project__pic">
        <a href="https://www.nham.jp/niseko_pay/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/nisekopay/nisekopay.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://www.nham.jp/niseko_pay/" target="_blank">Niseko Pay</a>
        </div>
        <p>An electronic local currency that can be used exclusively in the Kutchan/Hirafu area of Niseko, Japan.</p>
      </figcaption>
    </div>

<!--- 
    <div class="project screentime">
      <figure class="project__pic phones">
        <a href="https://play.google.com/store/apps/details?id=com.starry.management" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/screentime/screentime1.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/screentime/screentime3.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/screentime/screentime4.png" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://play.google.com/store/apps/details?id=com.starry.management" target="_blank">ScreenTime 2.0</a>
        </div>
        <p>Starry Station feature that provided users with the ability to easily filter content, pause the internet, and even
          create custom rules for blocking apps like Facebook and Twitter right from their phones.</p>
      </figcaption>
    </div>

    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://interventions.design/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/interventions/interventions.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://interventions.design/" target="_blank">Interventions</a>
        </div>
        <p>Interactive marketing website for Northeastern's first annual student-led design conference, Interventions.</p>
      </figcaption>
    </div>
  </div> --->
</section>

