<header class="intro">
  <h1 class="intro__hello">Hello!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Sanjana</span>, a Product Lead building in blockchain staking infra </br> <h3><i>*Movin' to SF in Feb 2025*</i></h3></br>
    <span class="emoji rocket"></span>
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:sanjsmehta@gmail.com" target="_blank" class="highlight-link">sanjsmehta@gmail.com</a>
    </span>
  </h3>
</header>
