<section class="section offline">
  <div class="section__title">Art</div>
  <div class="section__content">
    <div class="container">
        <div class="carousel">
            <ul class="carousel__slides">
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="{{site.baseurl}}/img/offline/yamamoto motors.png" alt="">
                        </div>
                    </figure>
                </li>
            </ul>    
            <ul class="carousel__thumbnails">
                <li>
                    <label for="slide-1"><img src="{{site.baseurl}}/img/offline/yamamoto motors.png" alt=""></label>
                </li>
            </ul>
        </div>
    </div>
  </div>
</section>
