<section class="section offline">
  <div class="section__title">Art</div>
  <div class="section__content">
    <div class="container">
        <div class="carousel">
            <input type="radio" name="slides" checked="checked" id="slide-1">
            <input type="radio" name="slides" id="slide-2">
            <input type="radio" name="slides" id="slide-3">
            <input type="radio" name="slides" id="slide-4">
            <input type="radio" name="slides" id="slide-5">
            <input type="radio" name="slides" id="slide-6">
            <ul class="carousel__slides">
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="{{site.baseurl}}/img/offline/yamamoto motors.png" alt="">
                        </div>
                        <figcaption>
                            drawing 1.
                        </figcaption>
                    </figure>
                </li>
            </ul>    
            <ul class="carousel__thumbnails">
                <li>
                    <label for="slide-1"><img src="{{site.baseurl}}/img/offline/yamamoto motors.png" alt=""></label>
                </li>
            </ul>
        </div>
    </div>
  </div>
</section>
